/* Created by: Emilie LeSage MacLean
* Created on: Feb 2022
* This css file defines the style for index.html
* Assign-01-HTML-CSS-JS
*/

body {
  background-color: 	AliceBlue;
}

h1 {
  background-color: WhiteSmoke;
  color: hsl(210, 60%, 49%);
  padding: 40xp;
  text-align: center;
}

p {
  background-color: #B3C8DE;
  font-family: Lucida Console;
  font-size: 20px;
}

h5 {
  background-color: #B3C8DE;
  font-family: Lucida Console;
  font-size: 20px;
}