/* Created by: Emilie LeSage MacLean
* Created on: Feb 2022
* This css file defines the style for index.html
* Assign-01-HTML-CSS-JS
*/

body {
  background-color: GhostWhite;
}

h1 {
  background-color: Lavender;
  color: hsl(228, 73%, 28%);
  padding: 40xp;
  text-align: center;
}

p {
  background-color: LightCyan;
  color: #434b56;
  font-family: Lucida Console;
  font-size: 20px;
}
